@import '../../../styles/general.scss';

.player {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
  &.active {
    display: block;
  }
  &-audio {
    display: inline;
    margin: 0 auto;
    width: 50%;
    vertical-align: middle;
  }
  &-meta {
    padding-top: 10px;
    text-align: center;
    span {
      @include font-bold;
      font-size: 16px;
    }
  }
  &-prev,
  &-next {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    height: 17px;
    width: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
  }
  &-prev {
    background-image: url('../../../img/001-rewind.png');
  }
  &-next {
    background-image: url('../../../img/002-fast-forward.png');
  }
}
