@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

//Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@mixin font-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
@mixin font-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
@mixin font-medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
@mixin font-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
