@import '../../../styles/general.scss';

.song {
  position: relative;
  flex-basis: 134px;
  padding-bottom: 10px;
  transition: background-color 0.5s ease;
  &--active {
    background-color: #a6f6a9;
  }
  img {
    margin-bottom: 10px;
    max-width: 133px;
    width: 100%;
    height: 134px;
    cursor: pointer;
  }
  .metadata {
    padding: 0 5px 5px 5px;
    @include font-regular;
    .author {
      margin-bottom: 3px;
      font-size: 11px;
      @include font-light;
    }
    .title {
      display: block;
      margin-bottom: 5px;
      font-size: 13px;
      @include font-medium;
      word-wrap: break-word;
      word-break: break-all;
    }
  }
  audio {
    width: 100%;
  }
  .controls {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    .btn {
      display: block;
      margin: 0 auto;
      opacity: 0;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      font-size: 24px;
      background-color: #fff;
      transition: opacity 0.2s ease;
      outline: none;
      &.active {
        opacity: 1;
      }
    }
  }
  @media screen and (max-width: 1200px) {
  }
}
