@import '../../../styles/general.scss';

.menu {
  margin-top: 0;
  padding: 10px 0;
  text-align: center;
  li {
    display: inline-block;
    margin: 0 5px;
    @include font-medium;
    font-size: 14px;
    cursor: pointer;
    color: #454545;
    transition: box-shadow 0.1s ease, color 0.1s ease,
      background-color 0.1s ease;
    a {
      display: block;
      padding: 5px;
      color: #454545;
      text-decoration: none;
    }
    &:hover {
      box-shadow: 0 0 0 2px #454545;
    }
    &.active {
      box-shadow: 0 0 0 2px #454545;
      background-color: #454545;
      a {
        color: #fff;
      }
    }
  }
}
